*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: var(--bg-color);
}
:root{
    --main-color:rgb(56, 85, 121);
    --sec-color:rgb(41, 115, 165);
    --bg-color: rgb(216, 252, 252);
    --btn-color:rgb(223, 210, 28);
}