*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: var(--bg-color);
}
:root{
    --main-color:hsl(202, 55%, 16%);
    --sec-color:rgb(41, 115, 165);
    --bg-color: hsl(202, 86%, 94%);
    --btn-color:rgb(223, 210, 28);
}
